<div style="display: flex; flex-direction:column; align-items:center; margin-top:3rem">
  <div class="totalAmount">
    <select style="width:100%" id="categoryValue">
      <option value="0" {{#if categoryValue.all}}selected{{/if}}> 所有支出 </option>
      <option value="1" {{#if categoryValue.home}}selected{{/if}}> 家居物業 </option>
      <option value="2" {{#if categoryValue.transportation}}selected{{/if}}>交通出行</option>
      <option value="3" {{#if categoryValue.entertainment}}selected{{/if}}>休閒娛樂</option>
      <option value="4" {{#if categoryValue.food}}selected{{/if}}>餐飲食品</option>
      <option value="5" {{#if categoryValue.other}}selected{{/if}}>其他</option>
    </select>
    <h1 style="width:100%; text-align:center; margin-top:1rem">總金額: ${{totalAmount}}</h1>
  </div>
  <ul class="list-group" style="width: 50rem; margin-top:3rem">
    {{#each record}}
    <li class="list-group-item" style="border:0 ;border-bottom: 1px solid rgba(0,0,0,0.25)">
      <div class="row" style="display: flex;align-items: center">
        <div class="col-auto" style="  display: flex;justify-content:space-between;align-items: center;width: 80%;">
          <div style="display: flex; align-items:center">
            <div class="categoryIcon" style="margin-right: 1rem;">
            </div>
            <div>
              <h4 style="display:inline; vertical-align: middle;" class="categoryName {{this.categoryId}}">
                {{this.name}}
              </h4>
              <h5 style="font-size: 0.8rem; margin:0">{{this.date}}</h5>
            </div>
          </div>
          <div>
            <h4 style="margin: 0 2rem 0 0;">{{this.amount}}</h4>
          </div>
        </div>
        <div class="col-auto">
          <a class="btn btn-success" href="/record/{{this._id}}/edit">Edit</a>
          <form action="/record/{{this._id}}?_method=DELETE" method="post" style="display:inline">
            <button class="btn btn-danger" type="" submit>Delete</button>
          </form>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>

  <a href="/record/new" class="btn btn-primary mb-3" style="margin-top:1rem">+</a>
</div>

<script>
  const categoryValue = document.getElementById('categoryValue');
  categoryValue.addEventListener('change', (event) => {
    const value = event.target.value;
    if (value === '1') {
      window.location.href = '/1';
    } else if (value === '2') {
      window.location.href = '/2';
    } else if (value === '3') {
      window.location.href = '/3';
    } else if (value === '4') {
      window.location.href = '/4';
    } else if (value === '5') {
      window.location.href = '/5';
    } else if (value === '0') {
      window.location.href = '/0';
    }
  });
  const CATEGORY = {
    家居物業: "https://fontawesome.com/icons/home?style=solid",
    交通出行: "https://fontawesome.com/icons/shuttle-van?style=solid",
    休閒娛樂: "https://fontawesome.com/icons/grin-beam?style=solid",
    餐飲食品: "https://fontawesome.com/icons/utensils?style=solid",
    其他: "https://fontawesome.com/icons/pen?style=solid"
  }
  const categoryName = document.querySelectorAll(".categoryName")
  const categoryIcon = document.querySelectorAll(".categoryIcon")
  console.log(categoryIcon[0].innerHTML)
  for (let i = 0; i < categoryName.length; i++) {
    //console.log(categoryName[i].classList[1])
    switch (categoryName[i].classList[1]) {
      case "1": categoryIcon[i].innerHTML += `<i class="fa-solid fa-house fa-2xl"></i>`; break
      case "2": categoryIcon[i].innerHTML += `<i class="fa-solid fa-van-shuttle fa-2xl"></i>`; break
      case "3": categoryIcon[i].innerHTML += `<i class="fa-solid fa-face-grin-beam fa-2xl"></i>`; break
      case "4": categoryIcon[i].innerHTML += `<i class="fa-solid fa-utensils fa-2xl"></i>`; break
      case "5": categoryIcon[i].innerHTML += `<i class="fa-solid fa-pen fa-2xl"></i>`; break
    }

  }

</script>